<html>
    <head>
        <title>LabMate - Home</title> 
        <link rel="icon" type="image/x-icon" href="/img/favicon.ico">

        <meta charset = "UTF-8">
        <meta name = "viewport" content = "width=device-width, initial-scale = 1.0">
        
        <link rel="stylesheet" href="/css/theme-style.css">
        <link rel="stylesheet" href="/css/navbar-style.css">
        <link rel="stylesheet" href="/css/student-home.css">

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://kit.fontawesome.com/f8fd180dda.js" crossorigin="anonymous"></script>
        <!-- add navigation bar and interactivity  -->
    </head>
    <body>
        <!-- insert navigation bar for signed in view -->
        {{>navbar}}

        <div class = "frame">
            <span class = "header">What would you like to do next, <span id="user-name">{{user.firstName}} {{user.lastName}}</span>?</span>

            <div class = "box-frame">
                <div class = "box">
                    <i class="fa-solid fa-computer"></i>
                    <span class = "box-header">Laboratories</span>
                    <span class = "box-description">View the laboratories’ slot availability, and create your own reservations.</span>
                    <button class = "box-button" type="button" onclick="location.href='/student-laboratories'">Reserve a Slot</button>
                </div>
                <div class = "box">
                    <i class="fa-regular fa-calendar"></i>
                    <span class = "box-header">Reservations</span>
                    <span class = "box-description">View your upcoming reservations and edit them however you may like.</span>
                    <a href="/student-reservations"><button class = "box-button" type="button" onclick="location.href='/student-reservations'">See Reservations</button></a>
                </div>
            </div>
        </div>
    </body>
</html>
